@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Quicksand";
    color: rgb(46, 57, 49);
    /* background-color: rgb(241, 238, 238); */
}
